.Rproj
.Rhistory
.Rproj.user/
Gridded_Data_Products/Historical Climate Data/.DS_Store
Met_Station_Data/.DS_Store
Gridded_Data_Products/.DS_Store
.DS_Store
Gridded_Data_Products/.DS_Store
Met_Station_Data/.DS_Store
Met_Station_Data/Khao_Chong/ForestGEO_met_station-KCH/.DS_Store
Gridded_Data_Products/.DS_Store
Gridded_Data_Products/.DS_Store
Gridded_Data_Products/.DS_Store
.DS_Store
.Rproj.user
.DS_Store
Met_Station_Data/.DS_Store
Met_Station_Data/.DS_Store
Met_Station_Data/.DS_Store
Met_Station_Data/.DS_Store
.Rhistory
Climate_Data/CRU/CRU_v4_06/nc_files/cru_ts4.06.1901.2021.pet.dat.nc
.Rhistory
Climate_Data/CRU/CRU_v4_05/nc_files/cru_ts4.05.1901.2020.pet.dat.nc
